<%- include("partials/header.ejs") %>

<div class="container" id="ratings" style="margin-top: 2rem;">
    <% if(locals.animeData) { %>
        <div class="row" id="legend">
            <div class="col-8 offset-1"> Anime Title </div>
            <div class="col-1"> Score </div>
        </div>
        <% for(let i = 0; i < 15; i++) { %>
            <% let route = "/anime/"+ animeData[i].mal_id %>
            <div class="row">
                <div class="col-1"> <b><%= i+1%>.</b> </div>
                <div class="col-8"> <a href=<%=route%> class="link"> <%= animeData[i].title%> </a></div>
                <div class="col-1"> <%= animeData[i].score%> </div>
            </div>
        <% } %>
    <% } %>
</div>

<% if(locals.error) { %>
<div id="errorMessage"> <%= error%> </div>
<% } %>

<%- include("partials/footer.ejs") %>