<%- include("partials/header.ejs") %>

<% if(locals.anime) { %>

    <div class="container" id="mainInfo" style="background-color: #202020; border-radius: 15px;">  
        <div id="title">
            <h2> <%= anime.title%> </h2> 
            <h6> <%= anime.title_japanese%> </h6> 
        </div>

        <div id="poster-image">
            <img src=<%= anime.images.jpg.image_url%> alt="">
        </div>  
        <div id="anime-detail-header">
            <div id="ratings-info">
                <div class="ratings-item score-item"> Score: <b><%= anime.score%></b> </div>
                <div class="ratings-item"> Ranked: <b><%= anime.rank%>#</b></div>
                <div class="ratings-item">Populariy: <b><%= anime.popularity%>#</b></div>
                <div class="ratings-item">Members: <b><%= anime.members%></b></div>
            </div>

            <div id="trailer" class="embed-responsive">
                <% if(anime.trailer.embed_url) {%>
                    <iframe class="embed-responsive-item" width="100%" height="100%" frameborder="0" allowfullscreen=""
                    src=<%= anime.trailer.embed_url%> >
                <% } else { %>
                    <div>Trailer Not Found</div>
                <% } %>
                </iframe> 
            </div>

            <div id="stars">
                <select class="select-stars">
                    <option selected>Select ★</option>
                    <option value="1">★</option>
                    <option value="2">★★</option>
                    <option value="3">★★★</option>
                    <option value="4">★★★★</option>
                    <option value="5">★★★★★</option>
                </select>
                <button class="btn btn-danger submit-button">Rate</button>
            </div>


        </div>

        <div class="" id="genre">
            <h5>Information</h5>
            <div>Japanese Title: <%= anime.title_japanese%> </div>
            <div>Type: <%= anime.type%></div>
            <div>Episodes: <%= anime.episodes%></div>
            <div>Status: <%= anime.status%></div>
            <div>Aired: <%= anime.aired.string%></div>
            <div>Broadcast: <%= anime.broadcast.string%></div>
            <div>Producers: <%= producers%></div>
            <div>Studios: <%= studios%></div>
            <div>Genres: <%= genres%></div>
            <div>Source: <%= anime.source%></div>
            <div>Demographics: <%= demographics%></div>
            <div>Duration: <%= anime.duration%></div>
            <div>Rating: <%= anime.rating%></div>
            <h5>Statistics</h5>
            <div>Score: <%= anime.score%> by <%= anime.scored_by%> users</div>
            <div>Ranked: <%= anime.rank%>#</div>
            <div>Popularity: <%= anime.popularity%></div>
            <div>Members: <%= anime.members%></div>
            <div>Favorites: <%= anime.favorites%></div>
        </div>
        <div id="description">
            <h5>Synopsis:</h5>
            <p><%= anime.synopsis%></p>
            <h5>Background:</h5>
            <p><%= anime.background%></p>
        </div>
    </div>
    
    
<% } else { %>
    <h2>Something Went Wrong</h2>
<% } %>

<%- include("partials/footer.ejs") %>